*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /*--primary-color:;
  --secondary-color:;*/
  --border-color: #ccc;
  --background-color: rgba(29, 32, 47, 1);
  --highlight-color: rgba(248, 248, 121, 0.6);
  /*--color: #fff;*/
  --text-color: grey;
  /*--accent-color:;*/
  --link-color: rgba(248, 248, 121, 0.6);
  /*--error-color:;
  --warning-color:;
  --success-color:;
  --hover-color:;*/
  --background-color-light: rgba(34, 38, 58, 0.7);
}
a {
  color: var(--link-color);
}
/******* Title article */
/*H1*/
.title-site {
  font-size: 3rem;
  padding: 0rem 0rem;
  color: var(--border-color);
}
/*H2*/
.title-article {
  font-size: 1.5rem;
  padding: 0rem 0rem;
  color: var(--border-color);
}
/*H3*/
article h3 {
  color: var(--border-color);
}
/*H4*/
/*H5*/
/************* Header */
.header {
  /* position: relative;
  border-top: 2px solid var(--border-color);
  border-left: 2px solid transparent;
  border-bottom: none;
  border-right: none;
  border-radius: 10px;*/
}
.navbar {
  position: relative;
  text-align: center;
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar ul li {
  width: 250px;
  text-decoration: none;
  color: var(--border-color);
}
.navbar ul li a {
  text-decoration: none;
  color: var(--border-color);
}
#subNavbar {
  display: flex;

  justify-content: end;
}
.subnavbar {
  position: relative;
}

/*************** navAdmin***********************/
#navAdmin ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#navAdmin ul li {
  padding-left: 15px;
  display: inline;
  font-size: 10px;
}
/**************** sideNav ***********************/
#sideNav ul {
  list-style-type: none;
  padding: 0;
  position: sticky;
  top: 90px;
  overflow-y: auto;
  height: calc(100vh - 90px);
}
#sideNav ul li {
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
}
#sideNav ul li a {
  color: var(--border-color);
}
.hidden-sideNav {
  position: absolute;
  top: 90px;
  left: -80%;
  transition: left 0.5s ease-out;
  background-color: transparent;
}
.show-sideNav {
  position: fixed;
  top: 90px;
  left: 0;
  transition: left 0.5s ease-in;
}
/*************** Card movie **********************/
/*A REVOIR */
/****************** Card */
.card {
  background-color:transparent;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  transition: transform 0.3s ease;
  margin: 1.3rem; 
  flex:1;

}
.card:hover {
  transform: scale(1.05);
}
.card-wrapper {
  height: 100%;
  display: flex;
}
.card-image {
  transition: transform 0.3s ease;
  overflow: hidden;
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.card-image:hover {
  transform: scale(1.15) perspective(900px) translateY(10%) translateZ(0);
  -webkit-transform: scale(1.15) perspective(900px) translateY(10%) translateZ(0);
  -moz-transform: scale(1.15) perspective(900px) translateY(10%) translateZ(0);
  -ms-transform: scale(1.15) perspective(900px) translateY(10%) translateZ(0);
  -o-transform: scale(1.15) perspective(900px) translateY(10%) translateZ(0);
}
.card-body {
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  font-size:.8rem;
  transition: transform 0.3s ease;
}
.card-title {
  background-color: rgba(34, 38, 58, 0.7);
  font-size:.9rem;
}


.card-body:hover {
  transform: scale(1.0) perspective(900px) translateY(10%) rotateX(-10deg) translateZ(0);
  -webkit-transform: scale(1.0) perspective(900px) translateY(10%) rotateX(-10deg) translateZ(0);
  -moz-transform: scale(1.0) perspective(900px) translateY(10%) rotateX(-10deg) translateZ(0);
  -ms-transform: scale(1.0) perspective(900px) translateY(10%) rotateX(-10deg) translateZ(0);
  -o-transform: scale(1.0) perspective(900px) translateY(10%) rotateX(-10deg) translateZ(0);
}


/*************** Footer  ***********************/
#pageFooter {
  height: auto;
}
#pageFooter h4 {
  color: var(--border-color);
}
/**************** Navigation */
#navigation {
  border: 1px solid var(--border-color);
  height: 100%;
}
.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.navigation li a {
  text-decoration: none;
  font-size: 1.3rem;
}
/**************** Galery social */
.social {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid var(--border-color);
  height: 100%;
  width: 100%;
}
.galery-social {
  width: 100%;
}
.galery-social > figure {
  width: 50%;
  text-align: center;
}
.galery-social > figure img {
  width: 50%;
}

/**************form newslertter*/
#newsletter {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid var(--border-color);
}
.content-form {
  text-align: center;
}
.form-group {
  text-align: left;
  border: none !important;
}
.btn {
  width: 20%;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  color: var(--color);
}
.card-body .text-muted {
  color: var(--highlight-color) !important;
}

/**************** FORM ADD MOVIE MDBootstrap */
.disclamer {
  color: var(--border-color);
}
legend small {
  font-size: 1rem;
  color: var(--text-color);
}
.form-outline .form-control:focus ~ .form-label {
  color: var(--highlight-color);
}
.form-outline .form-control:focus ~ .form-notch .form-notch-leading,
.form-outline .form-control:focus ~ .form-notch .form-notch-middle,
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border: none;
  box-shadow: none;
}
.form-outline .form-control:focus ~ .form-notch .form-notch-leading {
  border-top: 2px solid var(--highlight-color);
  border-left: 2px solid var(--highlight-color);
  border-bottom: 2px solid var(--highlight-color);
}
.form-outline .form-control:focus ~ .form-notch .form-notch-middle {
  border-bottom: 2px solid var(--highlight-color);
}
.form-outline .form-control:focus ~ .form-notch .form-notch-trailing {
  border-top: 2px solid var(--highlight-color);
  border-right: 2px solid var(--highlight-color);
  border-bottom: 2px solid var(--highlight-color);
}

.custom-file-upload input[type="file"] {
  display: none;
}

/*.form-control:focus ~ .form-notch div {
  box-shadow: none;
  border-color: none !important;
}
.form-control:focus ~ .form-label {
  color: red !important;
}*/
/*********** custom file upload*/
.custom-file-upload {
  color: var(--highlight-color);
  background-color: transparent;
  border: 1px solid var(--highlight-color);
  border-radius: 5px;
  width: 250px;
  text-align: center;
}
.custom-file-upload:hover {
  color: #000;
  background-color: var(--highlight-color);
}
#synopsis {
  background-color: transparent;
}

.padding-top {
  position: relative;
  margin-top: 50px;
}
.hiddenInput {
  display: none;
}
.imgPreview {
  display: none;
}
.btn-custom {
  color: var(--highlight-color);
  background-color: transparent;
  border: 1px solid var(--highlight-color);
  border-radius: 5px;

}
.btn-custom:hover {
  color: #000;
  background-color: var(--highlight-color);
}


/*************** listPerson */
/*.footer_card_custom {
  padding: 15px;
  color: var(--border-color);
}*/