*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  color:rgb(248, 248, 121, 0.6);
}
/******* Title article */
.title-site {
  font-size: 3rem;
  padding: 1.3rem 9rem;
}
.title-article {
  padding: 1.3rem 15rem;
}
/************* Header */
#header {
  width: 100%;
}
.navbar {
  text-align: center;
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navbar ul li {
  width: 250px;
  text-decoration: none;
  color: #fff;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
}
#subNavbar {
  display: flex;
  justify-content: end;
}
/*************** navAdmin***********************/
#navAdmin ul {
  padding:0;
  margin:0;
  list-style-type: none;
}
#navAdmin ul li {
  padding-left:15px;
  display:inline;
  font-size:10px;
}
/**************** sideNav ***********************/
#sideNav ul {
  list-style-type: none;
  padding: 0;
  position: sticky;
  top: 90px;
  overflow-y: auto;
  height: calc(100vh - 90px);
}
#sideNav ul li {
  height: auto;
  padding: 10px;
}
#sideNav ul li a {
  color: #fff;
}
.hidden-sideNav {
  position:absolute;
  left: -80%;
  transition: all 0.5s;
  background-color:transparent;
}
.show-sideNav {
  position: fixed;
  left: 0;
  transition: all 0.5s;
}
/*************** Card movie **********************/
.card-wrapper {
  height: 100%;
  display: flex;
}
.card {
  flex: 1;
  margin-right: 10px;
  background-color: transparent;
}
.card .img_card {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 0 -100px;
  border:1px solid #fff;
  border-radius:10px;
}
.card-body {
  height: 100%;
  color: #fff;
}
.card-title {
  position: relative;
  height: 30px;
}
.left-span {
  position: absolute;
  left: 0;
}
.right-span {
  position: absolute;
  right: 0;
}
.card-text {
  text-align: justify;
}
/*************** Footer  ***********************/
#pageFooter {
  height: auto;
}
/**************** Navigation */
#navigation {
  border: 1px solid #fff;
  height: 100%;
}
.navigation {
  list-style-type: none;
  padding:0;
  margin:0;
}
.navigation li a{
  text-decoration: none;
  font-size:1.3rem;
}
/**************** Galery social */
.social {
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #fff;
  height: 100%;
  width: 100%;
}
.galery-social { 
  width: 100%;

}
.galery-social > figure {
  width: 50%;
  text-align: center;
}
.galery-social > figure img {
  width: 50%;
}

/**************form newslertter*/
#newsletter {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #fff;
}
.content-form {
  text-align: center;
}
.form-group {
  text-align: left;
  border: none !important;
}
.btn {
  width: 20%;
}
tbody, td, tfoot, th, thead, tr {
  color:#fff;
}
.card-body .text-muted{
  color:#fff !important;
}
